.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.data-item-lists {
  margin: 35px auto;
}
.data-item-lists > .card {
  width: 250px;
  background-color: var(--card-backgrournd-color);
  transition: 250ms ease-in-out;
  margin: 25px;
}

.data-item-lists > .card:hover {
  scale: 1.1;
  box-shadow: 0 0 10px 0 var(--card-backgrournd-color);
  cursor: pointer;
}

/* button add kegiatan */

.add-kegiatan-button {
  transition: 250ms ease-in-out;
  margin: 25px 0px;
}

/* button kegiatan fisik */

.btn-addKegiatanFisik {
  background-color: var(--card-backgrournd-color);
  color: white;
  border: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  border-radius: 10px;
}

.btn-addKegiatanFisik:hover {
  background-color: var(--card-backgrournd-color);
  color: white;
  box-shadow: 0 0 10px 0 var(--card-backgrournd-color);
  cursor: pointer;
}

/* card button */

.card > .card-body > .card-actions {
  text-align: end;
}

.card > .card-body > .card-actions > .edit-btn {
  background-color: var(--card-backgrournd-color);
  color: white;
  border: none;
  width: 50px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  border-radius: 10px;
}

.card > .card-body > .card-actions > .edit-btn > .bi-pencil-square {
  margin-right: 0px;
}

.card > .card-body > .card-actions > .edit-btn:hover {
  background-color: var(--card-backgrournd-color);
  color: white;
  box-shadow: 0 0 10px 0 var(--card-backgrournd-color);
  cursor: pointer;
}

.card > .card-body > .card-actions > .delete-btn {
  background-color: red;
  color: white;
  border: none;
  width: 50px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
  transition: 250ms ease-in-out;
  border-radius: 10px;
}

.card > .card-body > .card-actions > .delete-btn:hover {
  background-color: red;
  color: white;
  box-shadow: 0 0 10px 0 red;
  cursor: pointer;
}
